* {
   margin: 0;
   padding: 0;
}

html, body {
	font-family: arial;
	color: white;
	height: 100%;
	background-color: #999;
	font-family: arial;
}

#container {
	min-height: 100%;

}

#main {
	overflow: auto;
	padding-bottom: 10px;
}

h1 {
	font-family: shit happens;
	font-size: 3em;
	float: left;
	margin: 5px;
	padding: 5px 0px 0px 0px;
	background-color: #555;
	color: white;
	opacity: .5;
}

ul {
	margin: 5px;
	padding: 10px;
	list-style: none;
}

ul li {
	float: left;
	width: 200px;
	height: 40px;
	background-color: #555;
	opacity: .8;
	line-height: 20px;
	text-align: center;
	font-size: 12;
	padding: 10px;
	margin: 5px;
}

ul li a {
	text-decoration: none;
	color: white;
	display: block;
	margin: 5px;
}

ul li a:hover {
	background-color: #33A9FF;
}

ul li ul li {
	display: none;	
}

ul li:hover ul li {
	display: block;	
}

p {
  background: #666;
  color: white;
  padding: 10px;
}

img {
	border: 2px solid #F5C24F;
	position: absolute;
}

h2 {
	position: absolute;
	float: left;
	left: 50%;
	top: 45%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	font-family: pacifico, calibri;
	font-size: 12;	
}

.pressrehearsal {
	position: absolute;
	float: left;
	margin-left: 5%;
	margin-top: 25%;
	text-align: left;
	font-family: pacifico, calibri;
	font-size: 12;	
}
.PhotoGallery {
	position: absolute;
	float: left;
	margin-left: 70%;
	margin-top: 25%;
}

.schedule {
	position: absolute;
	float: left;
	margin-left: 5%;
	top: 375px;
	text-align: left;
	font-family: pacifico, calibri;
	font-size: 12;
}	

.schedule2 {
	position: absolute;
	float: left;
	margin-left: 40%;
	top: 375px;
	text-align: left;
	font-family: pacifico, calibri;
	font-size: 12;
}
	
.schedule3 {
	position: absolute;
	float: left;
	margin-left: 75%;
	top: 375px;
	text-align: left;
	font-family: pacifico, calibri;
	font-size: 12;
}
	
.newslinks {	
	position: absolute;
	float: left;
	left: 50%;
	top: 65%;
	transform: translateX(-50%) translateY(-50%);
	text-align: left;
	font-family: pacifico, calibri;
	font-size: 12;
}

h3 {
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	font-family: pacifico, calibri;
	font-size: 14;
}

.TCBFlyer{
	position: absolute;
	left: 50%;
	top: 65%;
	transform: translateX(-50%) translateY(-50%);
	text-align: left;
	float: left;
	font-family: pacifico, calibri;
	font-size: 14;
}

.MusicSamples{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translateX(-50%) translateY(-50%);
	text-align: left;
	float: left;
	font-family: pacifico, calibri;
	font-size: 14;
}

.iframe {
	position: absolute;
	top: 55%;
	left: 50%;
	float: left;
}

#iframe-comments {
	float: left;
	color: blue;
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	font-family: arial;
	font-size: 12;
	
}

.social-media-icons1 {
	position: relative;
	float: right;
	margin-right: 50px;
}

.social-media-icons2 {
	position: relative;
	float: right;
	margin-right: 100px;
}

.fbimage {
	position: relative;
	float: left;
	margin-left: 5px;
}

#footer {
    font-family: arial;
	font-size: 12;
	color: white;
    background-color: #555;
    position: relative;
    height: 150px;
    margin-top: -150px;
}

.contactinfo {
	position: relative;
	float: left;
	margin-left: 150px;
}
	
}

