/*Charles Powell
10/14/2017
ITD 210 Inst: J. Oliverio
This is the style sheet for The Tidewater Concert Band Project
*/

nav ul {
  font-family: Georgia;
  margin: 10px;
  padding: 5px 0px 5px 30px;
  }

h1, h2, h3 {
  font-family: Arial;
  color: white;
  text-align: center;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
  margin: 0px;
  width: 100%;
  background-color: #efefef;
  opacity: 0.6;
}

body {
  margin-top: 100px;
}

h1 {
  height: 130px;
  color: blue;
}

p {
  color: black;
  font-family: Georgia;
  font-size: 20px;
}
body {
	
    background-image: url("images/smallHorn.jpg");
  background-repeat: no-repeat;
  background-position: center;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

li {
  display: inline;
  margin-right: 10px;
  }



p {
  text-align: center;
}


footer {
 position:fixed;
 bottom:0px;
 left:0px;
 padding: 10px;
 width: 100%;
 background-color: #efefef;
 opacity: 0.6;
}
